body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #575757;
}

.logout-btn {
    margin-top: 20px;
    text-align: center;
}

.btn-logout {
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
}

.btn-logout:hover {
    background-color: darkred;
}
